In [1]:
import pandas as pd

In [2]:
path = "/home/rasteiger/datasets/hack4good/"

label_df = pd.read_csv(path + "labels.csv")

In [3]:
#label_df.apply(lambda x: x.unique())

In [4]:
label_df.describe()

            site_id           lat           lon        extent
count  21554.000000  21554.000000  21554.000000  21554.000000
mean    5207.952306     -0.185975     36.566336     16.336179
std     3311.224998      0.765342      1.536258     21.092255
min       15.000000     -2.428545     34.004435      0.000000
25%     1698.000000     -0.587884     34.498040      0.000000
50%     5414.000000     -0.010499     37.580540     10.000000
75%     8077.000000      0.505895     37.714483     20.000000
max    11288.000000      0.929946     38.081392    100.000000

In [5]:
label_df.columns

Index(['filename', 'date', 'farmer_id', 'site_id', 'lat', 'lon', 'crop_name',
       'growth_stage', 'damage', 'extent', 'season'],
      dtype='object')

In [6]:
label_df['damage'].value_counts()

damage
G     8996
WD    7938
DR    3953
ND     327
PS     186
DS     134
WN      17
FD       3
Name: count, dtype: int64

In [7]:
label_df['crop_name'].value_counts()

crop_name
maize         20922
green gram      411
sorghum         206
soybean          15
Name: count, dtype: int64

In [8]:
len(label_df['farmer_id'].unique())

2754

In [9]:
import torch

torch.cuda.device_count()

4

In [10]:
time_series_df = pd.read_csv(path + "era5_land_t2m_pev_tp.csv")

In [11]:
len(time_series_df['time'].unique())

from tqdm import tqdm
tqdm.pandas()

In [12]:
tmp = time_series_df[['longitude','latitude']].progress_apply(lambda x: (x[0], x[1]), axis=1)
tmp

  0%|                                                                                             | 0/29052864 [00:00<?, ?it/s]

100%|██████████████████████████████████████████████████████████████████████████| 29052864/29052864 [02:38<00:00, 183441.16it/s]

0            (34.0, 1.0)
1            (34.0, 1.0)
2            (34.0, 1.0)
3            (34.0, 1.0)
4            (34.0, 1.0)
                ...
29052859    (38.5, -2.5)
29052860    (38.5, -2.5)
29052861    (38.5, -2.5)
29052862    (38.5, -2.5)
29052863    (38.5, -2.5)
Length: 29052864, dtype: object

In [13]:
len(tmp.unique()) * len(time_series_df['time'].unique())

29052864

In [14]:
len(time_series_df)

29052864

In [15]:
len(time_series_df['time'].unique())

17544

In [16]:
17544 / 24 / 365

2.0027397260273974